{
  "extends": "stylelint-config-wordpress",
  "ignoreFiles": [
	"**/*.js",
	"**/*.css"
  ],
  "plugins": [
	"stylelint-scss"
  ],
  "rules": {
	"rule-empty-line-before": ["always", {"ignore": ["after-comment","inside-block"]}],
	"no-eol-whitespace": [ true, { "ignore": ["empty-lines"]}],
	"declaration-property-unit-allowed-list" : {
	  "/^animation/": ["s", "ms"],
	  "font-size": ["px", "em", "rem"],
	  "line-height": [ '', "px", "em", "rem" ]
	},
	"max-line-length": [ 100 ],
	"at-rule-no-unknown": null,
	"scss/at-rule-no-unknown": true,
	"at-rule-empty-line-before": null,
  	"no-descending-specificity": null
  }
}
